/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}

.page-footer{
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color:"`blue";
}

.icon-block{
  margin-top: 20px;
  margin-bottom: 20px;
}

.buffe {
margin: 30px;
background-color: yellow;
}

.slide1 { 
  margin: 0,0,0,-15;
  text-align: justify;
  padding: 0,30,0,30px;
  color: blueviolet;
  font-size: 15;
  background-color: white;
}

.slide2 { 
  margin: 0,0,0,15;
  color: blueviolet;
  font-size: 15;
  background-color: yellow;
}

.slide3 { 
  margin: 0,0,0,15;
  color: blueviolet;
  font-size: 15;
  background-color: yellow;
}